@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}
